<header>
  <h1>{{ faceSnap.title | uppercase }}</h1>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <h2 class="centred-titles">{{ faceSnap.description }}</h2>
</header>
<main>
  <section class="details">
    {{ faceSnap.details }}
  </section>
  <aside>
    <p class="editor text">
      <span class="bold">Éditeur : </span>{{ faceSnap.editor }}
    </p>
    <p class="version text">
      <span class="bold">Dernière version : </span>{{ faceSnap.version }}
    </p>
    <p class="date text">
      <span class="bold">Dernière mise à jour : </span
      >{{ faceSnap.createdDate | date : "MMMM yyyy" }}
    </p>
    <img
      *ngIf="faceSnap.openSourceUrl"
      [src]="faceSnap.openSourceUrl"
      alt="Logiciel Open Source"
      class="open-source"
    />
  </aside>
</main>
<footer>
  <p class="like">
    <button (click)="onLike()" title="{{ likeBtnText }}">
      <span class="btn">&#10084;&#65039;</span>
      <span class="res">
        {{ faceSnap.likes }}
      </span>
    </button>
  </p>
</footer>
