<div class="face-snap-card">
  <img
    *ngIf="faceSnap.openSourceUrl"
    [src]="faceSnap.openSourceUrl"
    alt="Logiciel Open Source"
    class="open-source"
  />
  <h2>{{ faceSnap.title }}</h2>
  <p class="date text">
    <span class="bold">Mis en ligne le : </span>{{ faceSnap.createdDate }}
  </p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p class="text">
    <span class="bold">Description : </span>
    {{ faceSnap.description }}
  </p>
  <p class="like">
    <button (click)="onLike()" title="{{ likeBtnText }}">
      &#10084;&#65039;
    </button>
    {{ faceSnap.likes }}
  </p>
</div>
