.face-snap-card {
  width: 25%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  h2,
  p.like {
    text-align: center;
    button {
      border: none;
      background-color: white;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  img {
    width: 100%;
  }
  span.bold {
    font-weight: bold;
  }
}
