.software {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.card-container {
  position: relative;
}
@media screen and (max-width: 992px) {
  .software {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .software {
    grid-template-columns: 1fr;
  }
}
